<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CreditLens{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">CreditLens</div>
        <div class="nav-links">
            {% if session.get('role') == 'loan_assistant' %}
            <a href="{{ url_for('predict.application') }}">New Application</a>
            {% endif %}
            {% if session.get('role') == 'credit_manager' %}
            <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
